<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SJSU+RMP Class Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="title">
        <h1>SJSU+RMP Class Search</h1>
    </div>
    <div class="search-wrapper">
        <div class="search">
            <h3>Course Code</h3>
            <input type="text" class="text-input" id="filter" placeholder="search" />
        </div>
    </div>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Section</th>
                <th>Class Number</th>
                <th>Mode of Instruction</th>
                <th>Course Title</th>
                <th>Units</th>
                <th>Type</th>
                <th>Days</th>
                <th>Times</th>
                <th>Instructor</th>
                <th>Instructor Rating</th>
                <th>Location</th>
                <th>Dates</th>
                <th>Open Seats</th>
            </tr>
        </thead>
        <tbody id="table-body"></tbody>
    </table>
    <!-- Pagination Controls -->
    <div class="pagination-container">
        <ul class="pagination modal-1">
            <li><button style="display:none" onclick="showPageData(page-1)" class="prev">&laquo</button></li>
            <li><button class="active">1</button></li>
            <li><button onclick="showPageData(page+1)" class="next">&raquo;</button></li>
        </ul>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type=text/javascript>
    let page = 1;
    const RESULTS_PER_PAGE = 20;
</script>
<script src="{{ url_for('static', filename='js/Trie.js') }}"></script>
<script src="{{ url_for('static', filename='js/LiveSearch.js') }}"></script>
</html>
