<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="title">
        <h1>SJSU+RMP Class Search</h1>
    </div>
    <div class="search-wrapper">
        <div class="search">
            <h3>Course Code</h3>
            <input type="text" class="text-input" id="filter" placeholder="search" />
        </div>
    </div>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Section</th>
                <th>Class Number</th>
                <th>Mode of Instruction</th>
                <th>Course Title</th>
                <th>Units</th>
                <th>Type</th>
                <th>Days</th>
                <th>Times</th>
                <th>Instructor</th>
                <th>Instructor Rating</th>
                <th>Location</th>
                <th>Dates</th>
                <th>Open Seats</th>
            </tr>
        </thead>
        <tbody id="table-body">
            {% for class in all_classes[0:20] %}
            <tr>
                <td class="class-section">{{ class[0] }}</td>
                <td class="class-number">{{ class[1] }}</td>
                <td class="mode-instruct">{{ class[2] }}</td>
                <td class="course-title">{{ class[3] }}</td>
                <td class="class-units">{{ class[4] }}</td>
                <td class="class-type">{{ class[5] }}</td>
                <td class="class-days">{{ class[6] }}</td>
                <td class="class-times">{{ class[7] }}</td>
                <td class="class-instruct">
                    {% if class[8] in teacherName_to_legacyID %}
                        <!-- <a href="{{ url_for('show_teacher_page', name=class[8], class_section=class[0], howToSort='Recent') }}">{{ class[8] }}</a></td> -->
                        <a href="https://ratemyprofessors.com/professor/{{ teacherName_to_legacyID[class[8]] }}" target="_blank">{{ class[8] }}</a>
                    {% else %}
                        {{ class[8] }}
                    {% endif %}
                <td class="instruct-rating"><b>{{ class[9] }}</b></td>
                <td class="class-location">{{ class[10] }}</td>
                <td class="class-dates">{{ class[11] }}</td>
                <td class="open-seats">{{ class[12] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- TODO: Add Pagination Controls -->
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type=text/javascript>
    let all_classes = JSON.parse('{{ all_classes | tojson }}');
    let teacherName_to_legacyID = JSON.parse('{{ teacherName_to_legacyID | tojson }}'); // ex. { "Bob Smith": 123456, ... }

    let page = 1;
    const RESULTS_PER_PAGE = 20;
</script>
<script src="{{ url_for('static', filename='js/Trie.js') }}"></script>
<script src="{{ url_for('static', filename='js/LiveSearch.js') }}"></script>
</html>
