<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SJSU+RMP Class Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teacherPage.css') }}">
</head>
<body>
    <div style="background-color: #f6f6f6">
        <div class="instruct_overview">
            <h1><span>{{ teacher_data[0][4] }}</span>/5</h1>
            <!-- <h3>Overall Quality Based on {{ teacher_data.length }} ratings</h3> -->
            <h1 id="teacher_name">{{ teacher_data[0][1] }}</h1>
            <h3>Professor in the <u>{{ teacher_data[0][2] }}</u> department at San Jose State University</h3>
            <div class="important-info">
                <h4>
                    <span>{{ teacher_data[0][6] }}%</span> would take again
                </h4>
                <h4>
                    <span>{{ teacher_data[0][5] }}</span> level of difficulty
                </h4>
            </div>
        </div>
    </div>
    <div class="charts-container">
        <div class="chart-container grades-container" style="position: relative; height:50vh; width:100vw">
            <canvas id="avgGrades"></canvas>
        </div>
        <div class="chart-container difficulty-container" style="position: relative; height:50vh; width:100vw">
            <canvas id="avgDifficulties"></canvas>
        </div>
    </div>
    <div class="chart-container progression-container" style="height:60vh">
        <canvas id="progression"></canvas>
    </div>
    <div class="sample-reviews">
        <div class="positive-review">
            <h1>Most Popular Positive Review</h1>
        </div>
        <div class="negative-review">
            <h1>Most Popular Negative Review</h1>
        </div>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type=text/javascript>
    // read in the data passed in from the backend
    let teacher_data = JSON.parse('{{ teacher_data | tojson }}');
    console.log(teacher_data);
    // let reviews_data = JSON.parse('{{ all_reviews | tojson }}'); // [[CS123, "2022-10-02", quality, difficulty, grade, helpfulrating, isOnlineClass], ...]
    let reviews_data = JSON.parse({{ all_reviews | tojson }}); // [[CS123, "2022-10-02", quality, difficulty, grade, helpfulrating, isOnlineClass], ...]
    // console.log(reviews_data.sort((a,b) => b[7]-a[7]));

</script>
<script src="{{ url_for('static', filename='js/TeacherPage/GradeDistribution.js') }}"></script>
<script src="{{ url_for('static', filename='js/TeacherPage/DifficultyRatingDistribution.js') }}"></script>
<script src="{{ url_for('static', filename='js/TeacherPage/QualityRatingGraph.js') }}"></script>
<script src="{{ url_for('static', filename='js/TeacherPage/SampleReviews.js') }}"></script>
</html>
